<h1>Settings</h1>

<%= form_with(model: @user, url: settings_path, method: :patch) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, value: current_user.username, required: true %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

  <%= form.submit "Save Changes" %>

  <% if user_signed_in? %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <% end %>


<% end %>
