#<div>
 # <h1 class="font-bold text-4xl">UserProfile#show</h1>
  #<p>Find me in app/views/user_profile/show.html.erb</p>
#</div>

<h1>User Profile</h1>
<p>Username: <%= @username %></p>
<p>Email: <%= @user.email %></p>

<% if @current_user.present? && @current_user != @user %>
  <% if @current_user.following?(@user) %>
    <%= button_to "Unfollow", unfollow_user_path(@user), method: :post %>
  <% else %>
    <%= button_to "Follow", follow_user_path(@user), method: :post %>
  <% end %>
<% end %>

<h2>Your Blog Posts</h2>
<% if @blog_posts.any? %>
  <% @blog_posts.each do |blog_post| %>
    <h3><%= link_to blog_post.title, edit_blog_post_path(blog_post) %></h3>
    <p><%= blog_post.body %></p>
  <% end %>
<% else %>
  <p>No blog posts found.</p>
<% end %>

